<footer class="bg-light container-fluid mt-3 border row" style="width:100vw;">
    <div class="col-sm-6 p-5">
        <h3>Toy Monster</h3>
        <p>Delivering the best toys, Creating the best memories</p>
        <ul class="list-inline d-flex ">
            <li class='list-inline-item'><i class="bi bi-facebook p-4"></i></li>
            <li class='list-inline-item'><i class="bi bi-twitter p-4"></i></li>
            <li class='list-inline-item'><i class="bi bi-linkedin p-4"></i></li>
            <li class='list-inline-item'><i class="bi bi-youtube p-4"></i></li>
            <li class='list-inline-item'><i class="bi bi-whatsapp p-4"></i></li>
        </ul>
    </div>
    <div class="col-sm-6 p-5">
        <ul style="list-style-type:none;">
            <li><a style="text-decoration:none; color:black;" href="">Resources</a></li>
            <li><a style="text-decoration:none; color:black;" href="">News</a></li>
            <li><a style="text-decoration:none; color:black;" href="">Blog</a></li>
            <li><a style="text-decoration:none; color:black;" href="">Videos</a></li>
            <li><a style="text-decoration:none; color:black;" href="">FAQs</a></li>
        </ul>
    </div>
</footer>